@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100%;
  line-height: 1.4;
  scroll-behavior: smooth;
  --mauna-font-size-number: 44;
  --everest-font-size-number: 32;
  --kilimanjaro-font-size-number: 24;
  --matterhorn-font-size-number: 24;
  --vinson-font-size-number: 22;
  --blanc-font-size-number: 18;
  --fiji-font-size-number: 18;
  --rainier-font-size-number: 16;
  --boising-font-size-number: 16;
  --etna-font-size-number: 14;
  --nevis-font-size-number: 14;
  --snowdon-font-size-number: 12;
  --mauna-font-size: 44px;
  --everest-font-size: 32px;
  --kilimanjaro-font-size: 24px;
  --matterhorn-font-size: 24px;
  --vinson-font-size: 22px;
  --blanc-font-size: 18px;
  --fiji-font-size: 18px;
  --rainier-font-size: 16px;
  --boising-font-size: 16px;
  --etna-font-size: 14px;
  --nevis-font-size: 14px;
  --snowdon-font-size: 12px;
  --mauna-line-height: 44px;
  --everest-line-height: 32px;
  --kilimanjaro-line-height: 24px;
  --matterhorn-line-height: 30px;
  --vinson-line-height: 24px;
  --blanc-line-height: 22px;
  --fiji-line-height: 26px;
  --rainier-line-height: 22px;
  --boising-line-height: 22px;
  --etna-line-height: 18px;
  --nevis-line-height: 18px;
  --snowdon-line-height: 20px;
}

body {
  font-size: var(--rainier-font-size, 16px);
  letter-spacing: 0.02em;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0px;
  color: rgb(18, 18, 18);
  font-family: Averta, helvetica, arial, sans-serif;
  line-height: 1.4;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

div {
  display: block;
  unicode-bidi: isolate;
}

button {
  appearance: auto;
  font-style: normal;
  /* font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-variant-alternates: ;
  font-variant-position: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  font-optical-sizing: ;
  font-size-adjust: ;
  font-kerning: ;
  font-feature-settings: ;
  font-variation-settings: ; */
  text-rendering: auto;
  /* color: buttontext; */
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  /* background-color: buttonface; */
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer utilities {
  .home {
    @apply no-scrollbar flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  }

  .home-content {
    @apply no-scrollbar flex w-full flex-1 flex-col gap-8 px-0 sm:px-0 py-0 lg:py-0 xl:max-h-screen xl:overflow-y-scroll;
  }

  .home-header {
    @apply flex flex-col justify-between gap-8;
  }

  /* Header Box */
  .header-box {
    @apply flex flex-col gap-1;
  }

  .sticky-header {
    @apply fixed top-0 left-0 right-0 z-50 bg-headr-blue -mt-1 h-20 text-white;
  }

  .search-bar {
    @apply flex items-center justify-between;
  }

  .searchbar {
    @apply flex items-center w-full h-12 rounded-sm;
  }

  .header-left {
    justify-content: flex-end;
  }

  /* .searchbar-left {
    @apply flex items-center justify-start;
  } */

  .searchbar-middle {
    @apply flex items-center justify-center;
  }

  .searchbar-right {
    @apply flex items-center justify-end;
  }

  .search-bar-block {
    @apply bg-white w-full;
  }

  .search-date {
    @apply flex items-center gap-2 text-gray-500;
  }


  .kIxwnO {
    position: relative;
    z-index: 2;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    background-color: rgb(18, 18, 18);
  }

  .hzJipK {
    margin-left: -10px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
  }

  .jhHFnw {
    border: 0px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-transform: inherit;
    background-color: transparent;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .cRTXTe {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 44px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .iSTryZ {
    display: block;
  }

  .cMVZvC {
    position: relative;
    top: 0px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    padding-left: 16px;
  }

  .hNOsoO {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
  }

  .eyILZd {
    position: absolute;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-self: stretch;
    overflow: auto;
    visibility: hidden;
  }

  .bhVyBI {
    margin: initial;
    border: 0px;
    font-family: inherit;
    text-transform: inherit;
    background-color: transparent;
    font-size: var(--rainier-font-size, 16px);
    letter-spacing: 0.02em;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 8px;
    color: rgb(255, 255, 255);
    line-height: 44px;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    user-select: none;
  }

  .cuvXCU {
    display: none;
    margin-top: initial;
    margin-bottom: initial;
    margin-left: initial;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-transform: inherit;
    position: absolute;
    top: 0px;
    right: 60px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: -10px;
    padding: 10px;
    border: 0px;
    color: rgb(255, 255, 255);
    background-color: transparent;
  }

  .jsVeLW {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 16px 0px;
  }

  .drfekD {
    position: relative;
  }

  .jIuguz {
    margin-top: initial;
    margin-bottom: initial;
    margin-left: initial;
    border: 0px;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-transform: inherit;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: -10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

  .drfekD {
    position: relative;
  }

  .eprMYV {
    height: 24px;
  }

  .kKYIWj {
    margin-top: initial;
    margin-bottom: initial;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-transform: inherit;
    z-index: 1;
    margin-right: 4px;
    margin-left: -10px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    background: transparent;
  }

  .jkpcyF {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: -14px;
    padding: 10px;
  }

  .ckLyyv {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: middle;
    transition: transform 0.2s ease-out;
    fill: currentcolor;
  }

  .hAEHHw {
    position: relative;
    display: flex;
    flex-shrink: 0;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.12);
  }

  .hyuHCP {
    font-size: var(--rainier-font-size, 16px);
    line-height: var(--rainier-line-height, 22px);
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 8px 0px 8px 12px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    color: currentcolor;
    text-overflow: ellipsis;
    background-color: transparent;
    appearance: none;
  }

  .jZzXmc {
    margin: initial;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-transform: inherit;
    color: currentcolor;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
  }

  .dDDZYu {
    max-width: 1000px;
    margin: 0px auto;
  }

  .gXDJCk {
    position: relative;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
  }

  .WgAPW {
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    margin-right: -8px;
    margin-left: -8px;
  }

  .ImlNv {
    position: absolute;
  }

  .eshrpI {
    flex: 1 1 0%;
    min-width: 0px;
    min-height: 44px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .bRfViD {
    display: flex;
    height: 100%;
  }

  .hheYrZ {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
  }

  .gGCSuS {
    margin: 0px;
    padding: 0px 16px 0px 1.75em;
    border: 0px;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    height: 44px;
    overflow: hidden;
    color: rgb(18, 18, 18);
    text-overflow: ellipsis;
  }

  .eBkLTq {
    margin: initial;
    padding: initial;
    border: 0px;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-transform: inherit;
    background-color: transparent;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .hNajXU {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: middle;
    transition: transform 0.2s ease-out;
    fill: rgb(2, 77, 223);
  }

  .hcQEDl {
    flex: 1 1 0%;
    margin-left: 8px;
    overflow: hidden;
    color: rgb(18, 18, 18);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .lmhoCy {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .bwaYRf {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: middle;
    transition: transform 0.2s ease-out;
    fill: rgb(18, 18, 18);
  }

  .jdbotF:not(:disabled) {
    cursor: pointer;
  }

  .jdbotF {
    margin: initial;
    border: 1px solid transparent;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    padding: 8px 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(2, 77, 223);
    display: inline-block;
    width: auto;
    min-height: 44px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    transition: background-color 0.2s;
    text-decoration: none;
  }

  .brqMlp {
    display: none;
  }

  @media (min-width: 900px) {
    .iPKGhh {
      display: flex;
      -webkit-box-flex: 1;
      flex-grow: 1;
      flex-wrap: wrap;
      -webkit-box-align: stretch;
      align-items: stretch;
      -webkit-box-pack: end;
      justify-content: flex-end;
      margin-right: -10px;
    }

    .glzYUk {
      display: block;
      margin: 0px -40px 0px 24px;
    }

    .cMVZvC {
      padding-right: 40px;
      padding-left: 40px;
    }

    .eyILZd {
      position: relative;
      display: flex;
      -webkit-box-flex: 1;
      flex-grow: 1;
      visibility: visible;
    }

    .eVTvBI {
      display: flex;
      padding-right: 88px;
    }

    .bhVyBI {
      font-weight: 600;
      font-size: var(--fiji-font-size, 18px);
      line-height: var(--fiji-line-height, 26px);
      letter-spacing: 0.02em;
    }

    .jsVeLW {
      width: 405px;
      /* padding: 24px 16px; */
    }

    .jIuguz {
      width: auto;
      height: auto;
      margin-right: -10px;
    }

    .eprMYV {
      height: 32px;
    }

    .kKYIWj {
      display: none;
    }

    .jkpcyF {
      margin-left: -10px;
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .GHGEO {
      background-color: rgb(2, 77, 223);
      padding: 16px 40px 48px;
      box-shadow: none;
    }

    .gXDJCk {
      flex-wrap: nowrap;
      border-radius: 2px;
    }

    .WgAPW {
      width: 80%;
      margin-right: 0px;
      margin-left: 0px;
    }

    .ImlNv {
      margin-left: 8px;
    }

    .eshrpI {
      padding-right: 0px;
      padding-left: 0px;
    }


    .brqMlp {
      display: flex;
      margin-left: 4px;
    }

  }

  @media (min-width: 720px) {
    .cMVZvC {
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
    }

    .hNOsoO {
      padding-right: 8px;
    }

    .eVTvBI {
      -webkit-box-flex: 1;
      flex-grow: 1;
      padding-right: 0px;
    }

    .cuvXCU {
      display: none;
    }

    .jsVeLW {
      display: flex;
      width: 395px;
      /* padding: 8px 16px; */
    }

    .jIuguz {
      position: static;
      margin-right: 0px;
      white-space: nowrap;
    }
  }

  @media (min-width: 375px) {
    .hyuHCP {
      padding-left: 16px;
    }
  }


}